@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #10B981;
  --primary-hover: #059669;
  --primary-soft: rgba(16, 185, 129, 0.1);
  --accent: #F59E0B;
}

html, body, #root { height: 100%; }
body { margin: 0; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }

/* small utility to hide scrollbar when necessary */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

@media print {
  body * {
    visibility: hidden;
  }
  #printable-pedigree,
  #printable-pedigree * {
    visibility: visible;
  }
  #printable-pedigree {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
